{% extends 'base.html' %}
{% block main_content %}
    {% if logged_in %}
        <p>Welcome!!</p>
    {% else %}
    {% include 'snippet/errors_form.html' %}
    <h1>Login</h1>
    <form method="post">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="your@email.com">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="password">
        </div>
        <button type="submit">Login</button>
    </form>
    {% endif %}
{% endblock %}